html{
    font-size: 15px;
    font-family: "open sans", sans-serif;
    background-color: #a1d2ff;
}
img {
    
    display: block;
    margin: 0 auto;
    width: 200px;
  }
h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
  }
